<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <details>details</details>

    <%- include('./partials/footer.ejs') %>
</body>
</html>